{#
/**
 * @file
 * Main Page Template.
 *
 * Available variables:
 * - page: The content regions for this page.
 * - attributes: HTML attributes for the region div.
 *
 * @see template_preprocess_page()
 */
#}

{# Template Paths #}
{%- if template_brand_bar is empty -%}
  {%- set template_brand_bar = "@sdss_subtheme/components/brand-bar/brand-bar.html.twig" -%}
{%- endif -%}

{%- if template_global_footer is empty -%}
  {%- set template_global_footer = "@basic-dist/decanter/components/global-footer/global-footer.twig" -%}
{%- endif -%}
{# End Template Paths. #}

{# Brand bar variant set #}
{%- set brand_bar_variant = "su-brand-bar--dark" -%}

{# Header Wrapper #}
{%- set header_variant = 'su-lockup--option-' ~ header_logo_option -%}
<div class="fixed-header su-lockup {{ header_variant }}">

{# Brand Bar #}
{%- block block_brandbar -%}
  {%- include template_brand_bar with { modifier_class : brand_bar_variant } -%}
{%- endblock -%}

{# Help Section #}
{%- block block_help -%}
  {{ page.help }}
{%- endblock -%}

{# Masthead Section. #}
{%- block block_header -%}
  {%- if page.header or page.search or page.menu -%}
    <header class="su-masthead su-masthead--right">
      <section class="sdss-masthead">
        {{ page.header }}
        {{ page.search }}
        {{ page.menu }}
        <a href="/search" id="sdss-button--search-link" class="su-site-search__submit"><span class="visually-hidden">Search</span></a>
      </section>
    </header>
  {%- endif -%}
{%- endblock -%}
</div> {# End header wrapper div #}

{# Main Page Content Section #}
<main class="page-content" id="page-content">
  {%- block block_main -%}
    {{ page.content }}
  {%- endblock -%}
</main>

{# Override the footer #}
{% block block_footer %}
  <footer id="footer">
    {{ page.footer }}
    {%- include "@basic-dist/decanter/components/global-footer/global-footer.twig" with {modifier_class : "su-global-footer--dark"} -%}
  </footer>
{% endblock %}

<button id="back-to-top">
  <span class="fas fa-chevron-up"></span>
  Back to Top
</button>

